<body>
    <section class="">

        <footer class="text-center mt-auto " style="background-color: #CC0022;">


            <div class=" container p-4 ">

                <div class=" row">

                    <div class="col-lg-6 mb-4 mb-md-0" style="color: #FFEBEE;" id="author">
                        <h5 class="text-uppercase">Author</h5>

                        <div class="text-justify-between">
                            <div>Mitali Chougule</div>
                            <div>Amey Deshingkar</div>
                            <div>Piyush Terkar</div>
                        </div>
                    </div>



                    <div class="col-lg-6 mb-4 mb-md-0" id="link">
                        <h5 class="text-uppercase" style="color: #FFEBEE;">Links</h5>

                        <ul class="list-unstyled mb-0">
                            <li>
                                <a style="color: #FFEBEE;" href="/">Home</a>
                            </li>
                            <li>
                                <a style="color: #FFEBEE;" href="/donate">Donate</a>

                            </li>
                            <li>
                                <a style="color: #FFEBEE;" href="/recieve">Recieve</a>
                            </li>
                        </ul>
                    </div>



                </div>

            </div>



            <div class="text-center p-3" style="background-color:#960018;">
                <p style="color: #FFEBEE;">Blood Bank Management System</p>
            </div>

        </footer>

    </section>
</body>