<% layout('layouts/boilerplate')
    %>
    <div class="bg1st">
        <div class="slide-1">
            <h1 style="animation: slideInFrombottom 2.5s ;">Donazo<sup>&copy;</sup></h1>
            <img src="images/favicon.png"
                alt=""
                class="icon image-fluid">
            <h2 style="animation: slideInFrombottom 1.5s;">Donate blood save lives!<br>Become the hero you know yourself
                to be!</h2>
            <p style="animation: slideInFrombottom 3s ;">&darr;<u>scroll for next</u>&darr;</p>
        </div>
    </div>
    <div class="info-card">
        <div class="card mb-3 shadow"
            style="max-width: 540px; max-height: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="images/Dochands.jpg"
                        alt="..."
                        class="img-fluid">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Donate and become a savier</h5>
                        <p class="card-text">There’s no end to the benefits of donating blood for those who need it.
                            According to the American Red Cross,
                            one donation can save as many as three lives, and someone in world needs blood every 10
                            seconds.
                        </p>
                        <p class="card-text"><small class="text-muted"></small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="simple-steps container my-5 shadow">

        <div>
            <img src="images/form2.png"
                class="rounded mx-auto d-block"
                alt="form image" />
            <h3 class="text-center mt-4 fw-bold">1. Fill the form</h3>
        </div>
        <div>
            <img src="images/blood donate.png"
                class="rounded mx-auto d-block mt-5"
                alt="form image" />
            <h3 class="text-center mt-4 fw-bold">2. Check for availibility</h3>
        </div>
        <div>
            <img src="images/tick.png"
                class="rounded mx-auto d-block mt-5"
                alt="form image" />
            <h3 class="text-center mt-4 fw-bold">3. Confirm</h3>
        </div>
    </div>
    <div class="navigate">
        <div class="card my-5 mx-3 shadow"
            style="width: 18rem;">
            <img src="images/donationimg.jpg"
                class="card-img-top"
                alt="...">
            <div class="card-body">
                <p class="card-text">Click this button to donate and save lives now!!</p>
            </div>
            <a href="/donate"
                class="btn btn-danger">Donate now!</a>
        </div>
        <div class="card m-5 mx-3 shadow"
            style="width: 18rem;">
            <img src="images/receiveimg.jpg"
                class="card-img-top"
                alt="...">
            <div class="card-body">
                <p class="card-text">Click here to search for specific blood type and receive blood.</p>
            </div>
            <a href="/receive"
                class="btn btn-danger">Receive now!</a>
        </div>
    </div>